In [15]:
import pandas as pd
df = pd.read_csv(r'C:\Users\Dell\Downloads\Iris.csv')
print(df)
print('hello')
print(df.head())

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  \
0      1            5.1           3.5            1.4           0.2
1      2            4.9           3.0            1.4           0.2
2      3            4.7           3.2            1.3           0.2
3      4            4.6           3.1            1.5           0.2
4      5            5.0           3.6            1.4           0.2
..   ...            ...           ...            ...           ...
145  146            6.7           3.0            5.2           2.3
146  147            6.3           2.5            5.0           1.9
147  148            6.5           3.0            5.2           2.0
148  149            6.2           3.4            5.4           2.3
149  150            5.9           3.0            5.1           1.8

            Species
0       Iris-setosa
1       Iris-setosa
2       Iris-setosa
3       Iris-setosa
4       Iris-setosa
..              ...
145  Iris-virginica
146  Iris-virginica
147  Iris-virginica
148  Iris-virginica
149  Iris-virginica

[150 rows x 6 columns]
hello
   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [5]:
df = df.drop(index=3)
df = df.drop(columns=df.columns[2])
print(df)

      Id  SepalLengthCm  PetalLengthCm  PetalWidthCm         Species
0      1            5.1            1.4           0.2     Iris-setosa
1      2            4.9            1.4           0.2     Iris-setosa
2      3            4.7            1.3           0.2     Iris-setosa
4      5            5.0            1.4           0.2     Iris-setosa
5      6            5.4            1.7           0.4     Iris-setosa
..   ...            ...            ...           ...             ...
145  146            6.7            5.2           2.3  Iris-virginica
146  147            6.3            5.0           1.9  Iris-virginica
147  148            6.5            5.2           2.0  Iris-virginica
148  149            6.2            5.4           2.3  Iris-virginica
149  150            5.9            5.1           1.8  Iris-virginica

[149 rows x 5 columns]

In [9]:
edata = {
    'Employee_ID': [101, 102, 103, 104, 105],
    'Name': ['Alice ', 'Bob ', 'Charlie', 'Diana', 'Edward'],
    'Department': ['HR', 'IT', 'IT', 'Marketing', 'Sales'],
    'Age': [29, 34, 41, 28, 38],
    'Salary': [50000, 70000, 65000, 55000, 60000],
    'Years_of_Experience': [4, 8, 10, 3, 12],
    'Joining_Date': ['2020-03-15', '2017-07-19', '2013-06-01', '2021-02-10', '2010-11-25'],
    'Gender': ['Female', 'Male', 'Male', 'Female', 'Male'],
    'Bonus': [5000, 7000, 6000, 4500, 5000],
    'Rating': [4.5, 4.0, 3.8, 4.7, 3.5]
}
employees_df = pd.DataFrame(edata)
print(employees_df)
employees_df.to_csv('employees.csv', index=False)

# a) Shape of the DataFrame
print(employees_df.shape)

   Employee_ID     Name Department  Age  Salary  Years_of_Experience  \
0          101   Alice          HR   29   50000                    4
1          102     Bob          IT   34   70000                    8
2          103  Charlie         IT   41   65000                   10
3          104    Diana  Marketing   28   55000                    3
4          105   Edward      Sales   38   60000                   12

  Joining_Date  Gender  Bonus  Rating
0   2020-03-15  Female   5000     4.5
1   2017-07-19    Male   7000     4.0
2   2013-06-01    Male   6000     3.8
3   2021-02-10  Female   4500     4.7
4   2010-11-25    Male   5000     3.5
(5, 10)

In [11]:
# b) Summary of the DataFrame
print(employees_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Employee_ID          5 non-null      int64
 1   Name                 5 non-null      object
 2   Department           5 non-null      object
 3   Age                  5 non-null      int64
 4   Salary               5 non-null      int64
 5   Years_of_Experience  5 non-null      int64
 6   Joining_Date         5 non-null      object
 7   Gender               5 non-null      object
 8   Bonus                5 non-null      int64
 9   Rating               5 non-null      float64
dtypes: float64(1), int64(5), object(4)
memory usage: 532.0+ bytes
None

In [13]:
# c) Descriptive statistics
print(employees_df.describe())

       Employee_ID        Age       Salary  Years_of_Experience   Bonus  \
count     5.000000   5.000000      5.00000             5.000000     5.0
mean    103.000000  34.000000  60000.00000             7.400000  5500.0
std       1.581139   5.612486   7905.69415             3.847077  1000.0
min     101.000000  28.000000  50000.00000             3.000000  4500.0
25%     102.000000  29.000000  55000.00000             4.000000  5000.0
50%     103.000000  34.000000  60000.00000             8.000000  5000.0
75%     104.000000  38.000000  65000.00000            10.000000  6000.0
max     105.000000  41.000000  70000.00000            12.000000  7000.0

         Rating
count  5.000000
mean   4.100000
std    0.494975
min    3.500000
25%    3.800000
50%    4.000000
75%    4.500000
max    4.700000

In [19]:
#d) First 5 rows and last 3 rows
print(employees_df.head(5))
print(employees_df.tail(3))

   Employee_ID     Name Department  Age  Salary  Years_of_Experience  \
0          101   Alice          HR   29   50000                    4
1          102     Bob          IT   34   70000                    8
2          103  Charlie         IT   41   65000                   10
3          104    Diana  Marketing   28   55000                    3
4          105   Edward      Sales   38   60000                   12

  Joining_Date  Gender  Bonus  Rating
0   2020-03-15  Female   5000     4.5
1   2017-07-19    Male   7000     4.0
2   2013-06-01    Male   6000     3.8
3   2021-02-10  Female   4500     4.7
4   2010-11-25    Male   5000     3.5
   Employee_ID     Name Department  Age  Salary  Years_of_Experience  \
2          103  Charlie         IT   41   65000                   10
3          104    Diana  Marketing   28   55000                    3
4          105   Edward      Sales   38   60000                   12

  Joining_Date  Gender  Bonus  Rating
2   2013-06-01    Male   6000     3.8
3   2021-02-10  Female   4500     4.7
4   2010-11-25    Male   5000     3.5

In [21]:
# e) Calculate the following statistics from the dataset: 
print(employees_df['Salary'].mean())
print(employees_df['Bonus'].sum())
print(employees_df['Age'].min())
print(employees_df['Rating'].max())

60000.0
27500
28
4.7

In [27]:
SortedDf = employees_df.sort_values(by='Salary', ascending=False)
print(SortedDf)

   Employee_ID     Name Department  Age  Salary  Years_of_Experience  \
1          102     Bob          IT   34   70000                    8
2          103  Charlie         IT   41   65000                   10
4          105   Edward      Sales   38   60000                   12
3          104    Diana  Marketing   28   55000                    3
0          101   Alice          HR   29   50000                    4

  Joining_Date  Gender  Bonus  Rating
1   2017-07-19    Male   7000     4.0
2   2013-06-01    Male   6000     3.8
4   2010-11-25    Male   5000     3.5
3   2021-02-10  Female   4500     4.7
0   2020-03-15  Female   5000     4.5

In [29]:
#h
print( employees_df.isnull().sum())

Employee_ID            0
Name                   0
Department             0
Age                    0
Salary                 0
Years_of_Experience    0
Joining_Date           0
Gender                 0
Bonus                  0
Rating                 0
dtype: int64

In [31]:
#g
def categorize_rating(rating):
    if rating >= 4.5:
        return 'Excellent'
    elif (rating >= 4.0 and rating <4.5):
        return 'Good'
    else:
        return 'Average'

employees_df['PerformanceRating'] = employees_df['Rating'].apply(categorize_rating)
print(employees_df)

   Employee_ID     Name Department  Age  Salary  Years_of_Experience  \
0          101   Alice          HR   29   50000                    4
1          102     Bob          IT   34   70000                    8
2          103  Charlie         IT   41   65000                   10
3          104    Diana  Marketing   28   55000                    3
4          105   Edward      Sales   38   60000                   12

  Joining_Date  Gender  Bonus  Rating PerformanceRating
0   2020-03-15  Female   5000     4.5         Excellent
1   2017-07-19    Male   7000     4.0              Good
2   2013-06-01    Male   6000     3.8           Average
3   2021-02-10  Female   4500     4.7         Excellent
4   2010-11-25    Male   5000     3.5           Average

In [33]:
#i
employees_df.rename(columns={'Employee_ID': 'ID'}, inplace=True)
print(employees_df)

    ID     Name Department  Age  Salary  Years_of_Experience Joining_Date  \
0  101   Alice          HR   29   50000                    4   2020-03-15
1  102     Bob          IT   34   70000                    8   2017-07-19
2  103  Charlie         IT   41   65000                   10   2013-06-01
3  104    Diana  Marketing   28   55000                    3   2021-02-10
4  105   Edward      Sales   38   60000                   12   2010-11-25

   Gender  Bonus  Rating PerformanceRating
0  Female   5000     4.5         Excellent
1    Male   7000     4.0              Good
2    Male   6000     3.8           Average
3  Female   4500     4.7         Excellent
4    Male   5000     3.5           Average

In [36]:
#j
e= employees_df[employees_df['Years_of_Experience'] > 5]
i = employees_df[employees_df['Department'] == 'IT']
print(e)
print(i)

    ID     Name Department  Age  Salary  Years_of_Experience Joining_Date  \
1  102     Bob          IT   34   70000                    8   2017-07-19
2  103  Charlie         IT   41   65000                   10   2013-06-01
4  105   Edward      Sales   38   60000                   12   2010-11-25

  Gender  Bonus  Rating PerformanceRating
1   Male   7000     4.0              Good
2   Male   6000     3.8           Average
4   Male   5000     3.5           Average
    ID     Name Department  Age  Salary  Years_of_Experience Joining_Date  \
1  102     Bob          IT   34   70000                    8   2017-07-19
2  103  Charlie         IT   41   65000                   10   2013-06-01

  Gender  Bonus  Rating PerformanceRating
1   Male   7000     4.0              Good
2   Male   6000     3.8           Average

In [38]:
#k
employees_df['Tax'] = employees_df['Salary'] * 0.1
print(employees_df)

    ID     Name Department  Age  Salary  Years_of_Experience Joining_Date  \
0  101   Alice          HR   29   50000                    4   2020-03-15
1  102     Bob          IT   34   70000                    8   2017-07-19
2  103  Charlie         IT   41   65000                   10   2013-06-01
3  104    Diana  Marketing   28   55000                    3   2021-02-10
4  105   Edward      Sales   38   60000                   12   2010-11-25

   Gender  Bonus  Rating PerformanceRating     Tax
0  Female   5000     4.5         Excellent  5000.0
1    Male   7000     4.0              Good  7000.0
2    Male   6000     3.8           Average  6500.0
3  Female   4500     4.7         Excellent  5500.0
4    Male   5000     3.5           Average  6000.0

In [40]:
# l
employees_df.to_csv("modified_employees.csv", index=False)